@model IEnumerable<IdeaReacts>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2>Idea Of Topic</h2>
        </div>
        <div class="col-2  text-end">
            @if (ViewBag.closeDate != "1")
            {
                <a asp-controller="Idea" asp-action="Upsert" class="btn btn-primary ">
                    <i class="bi bi-plus"></i> Create New Idea
                </a>
            }
        </div>
    </div>
    <div class="m-4">
        <br /><br />
        <table class="table table-bordered" id="tblData">
            <thead>
            <th>Title</th>
            <th>Brief</th>
            <th>DateTime</th>
            <th>UserId</th>
            <th>Category</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-controller="Idea" asp-action="ViewDetail" asp-route-id="@item.Id">@item.Title</a></td>
                        <td>@item.Brief</td>
                        <td>@item.DateTime</td>
                        <td>@item.UserId</td>
                        <td>@item.Category.Name</td>
                        <td>
                            <div>
                                <a asp-controller="Idea" asp-action="Like" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-hand-thumbs-up">@item.Like</i></a>
                                <a asp-controller="Idea" asp-action="Dislike" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-hand-thumbs-down">@item.Dislike</i></a>
                                <a class="btn btn-warning"><i class="bi bi-eye"></i>@item.CountView</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row pb-2 col-2 text-end">
            <a asp-controller="Topic" asp-action="Index" class="btn btn-primary">Back To Topic</a>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/idea.js"></script>
    <script type="text/javascript">
        let table = new DataTable('#tblData');

    </script>
    }





